<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro</title>
    <style rel="stylesheet"> 
    body { background-image: url("https://cdn.panelinha.com.br/receita/1543940915947-cuscuz%20de%20milho%20%281%29.jpg"); }
    #centro{ 
        background-color: transparent; 
        width: 500px; 
        height: 700px;
        left: 25%; 
        margin: 0px 0 0 0px; 
        padding:0px; 
        position: absolute;
        top: 0%; }
    </style>
</head>
<body>
    <div id="centro">
        <h1>Você não está autenticado <br>e não pode visualizar a página</h1>
        <p>para autenticar <a href='conta/login'>clique aqui</a></p>
    </div>
</body>
</html>