<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
 
    <title>Quiz_Openings</title>
    <style rel="stylesheet">
        body {
            background-image: url('/media/Pimagem/quizOp_bg.png');
            height: 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
 
        #botoes {
            background-color: transparent;
            position: absolute;
            top: 50%;
            left: 25%;
        }
    </style>
    <script>
        function Alerta(){alert("Opa você errou! Tente Novamente");}
    </script>
 
</head>
 
<body>
 
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand" href="{% url 'inicial' %}"><img src="/media/Pimagem/logo-DaNimes.png" width="160"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
 
 
 
 
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    {% if user.is_authenticated %}
                    <h5 class="text-light">{{ user.username }} - xp atual: {{xp.qt_pontos}}</h5>
                    {% endif %}
                </li>
            </ul>
            <h5><a style="font-weight: 550" href="{% url 'inicial' %}" class="btn btn-red">Voltar</a>
                <a style="font-weight: 550" href="{% url 'inicial' %}" class="btn btn-red">Quiz de Risadas</a>
                <a style="font-weight: 550" href="{% url 'wanted' %}" class="btn btn-red">Meus Pontos</a></h5>
        </div>
    </nav>
 
    <div class="container" style="padding-top: 9%;">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card text-white bg-danger mb-3" style="max-width: 40rem;">
                    <div class="card-header">
                        <h4 style="padding-top: 6%; font-weight: 550; color: white;">
                            <center>ADIVINHE O NOME DO ANIME
                        </h4>
                        <div class="card-body">
                            </center>
                            <div id="play" class='center'><center>
                                <audio controls style="padding-top: 1%;">
                                    <source src="{{ OP.opening.url }}" type="audio/mp3">
                                </audio><br>
                                {%for i in botoes%}
                                    {%if i == OP.nome%}
                                        <a style="font-weight: 550" href="{% url 'acertou' pontos %}" class="btn btn-dark">{{i}}</a>
                                    {%else%}
                                        <a style="font-weight: 550" href="{% url 'errou' pontos %}" onclick="Alerta()" class="btn btn-dark">{{i}}</a>
                                    {%endif%}
                                {%endfor%}
                            </div>
                        </div>
                    </div>
 
                </div>
            </div>
        </div>
 
 
 
 
 
 
 
 
 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>



