<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Quiz Risadas</title>
    <style rel="stylesheet">
        body {
            background-image: url('/media/Pimagem/quizOp_bg.png');
			background-attachment: fixed;
			 background-position: center;
			 background-size: cover;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }
		#botoes{background-color: transparent; position: absolute; top: 50%; left: 25%;}
    </style>
	<script>
    function Alerta(){alert("Opa você errou!");}

    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand" href="{% url 'inicial' %}"><img src="/media/Pimagem/logo-DaNimes.png" width="160"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    {% if user.is_authenticated %}
                        <h5 class="text-light" >{{ user.username }} - xp atual: {{xp.qt_pontos}}</h5>
                    {% endif %}
                </li>
            </ul>
            <h5><a style="font-weight: 550" href="{% url 'inicial' %}" class="btn btn-red">Voltar</a>
                <a style="font-weight: 550" href="{% url 'quiz_openings' %}" class="btn btn-red">Quiz de Openings</a>
                <a style="font-weight: 550" href="{% url 'wanted' %}" class="btn btn-red">Ranking</a>
        </div>
    </nav>

   <div class="container" style="padding-top: 9%;">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card text-white bg-warning mb-3" style="max-width: 40rem;">
                    <div class="card-header">
                        <h4 style="padding-top: 6%; font-weight: 550; color: white;">
                            <center>𝒟𝐸 𝒬𝒰𝐸𝑀 É 𝐸𝒮𝒮𝒜 𝑅𝐼𝒮𝒜𝒟𝒜?<br> {{perso.onomatopeia}}
                        </h4>
                        <div class="card-body">
                            </center>
                            <div id="play" class='center'><center>
                                <audio controls style="padding-top: 1%;">
                                    <source src="{{ perso.risada.url }}" type="audio/mp3">
                                </audio><br>
                                {%for i in botoes%}
                                    {%if i == perso.nome%}
                                        <a style="font-weight: 550" href="{% url 'acertou_ri' pontos %}" class="btn btn-dark">{{i}}</a>
                                        
                                    {%else%}
                                        <a style="font-weight: 550" href="{% url 'errou_ri' pontos %}" onclick="Alerta()" class="btn btn-dark">{{i}}</a>
                                    {%endif%}
                                {%endfor%}
                            </div>
                        </div>
                    </div>
 
                </div>
            </div>
        </div>
   </div>
 
   {%for i in botoes%}
        {%if i == perso.nome%}
        <img type= "image" src="{{perso.image.url.jpg}}" >
        {%endif%}
    {%endfor%}

    <br><br><br><br><br>

    <div class="container bg-dark" style="padding-top: 0%; max-width: 2000px;">
        <div class="row-md-3">
            <div class="col-md-0 offset-md-0" style="padding-top: 3%;"><center>
                <div class="card text-white bg-dark mb-0" style="max-width: 2000px;">
                    <div class="card-header">
                    <div class="card-body">
                            <h4>FEITO DE FÃ PARA FÃ</h4>
                            COPYRIGHT DANIMES 2020 ~ DESENVOLVIDO POR EQUIPE DANIMES<br>
                            <a href="https://instagram.com/danimes_01">
                            <img src="https://image.flaticon.com/icons/png/512/87/87390.png" width="40"></a>
                            <img src="https://logodownload.org/wp-content/uploads/2014/09/twitter-logo-1.png" width="40">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>