<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Home</title>
    <style rel="stylesheet"> 
         body { background-image: url("https://cdn.panelinha.com.br/receita/1543940915947-cuscuz%20de%20milho%20%281%29.jpg"); }
         #barra{background-color: black; left: 0%; width: 1000px; position: absolute; top: 0%;}
         #pedidos{background-color: #FBF5EF; filter:alpha(opacity=50); opacity:0.8  ; left: 0%; width: 1000px; position: absolute; top: 7%;}    </style>
         #cliente{position: absolute; left: 25%;}
</head>
<body>
    {% if user.is_authenticated %}
    <div id="barra">
        <font color="white">
        Todos os Pedidos Disponivéis.<a href="{% url 'inicial'%}"><input type="button" value="Voltar"></a></font></div>
        <div  id="pedidos">
            <center>
            {% for ped in pedido %}
                {{ped.cliente}}
                <div id="cliente">
                    {{ped.nome}}
                    {{ped.valor}}
                       {% if ped.status == True %}
                            {% if ped.pronto == True %}
                                {{'Saiu para Entrega'}}<br>
                            {%else%}
                                {{'Em Produção'}}<br>
                                <a href="{% url 'Finalizar' ped.id %}">Finalizar</a><br>
                            {%endif%}
                        {%else%}
                            {{'Não Atendido'}}<br>
                            <a href="{% url 'Atender' ped.id %}">Atender</a><br>
                        ---------------------------------------------------------------------------------------------------------------------------------------------------------
                        {%endif%}
                    </div>
            {% endfor %}
        </div>
    {%endif%}
</body>
</html>